@model Models.Entity.billDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>billDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.pay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill.payment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
